.setting-btn {
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: var(--primary-yellow);
  color: #000;
  padding: 0.2rem;
  border-bottom: 1px black solid;
}
.setting-btn:hover {
  color: var(--primary-red);
}
