.hp-boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}
.hp-boxes > div > h2 {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px black;
}
.hp-boxes > div > li {
  width: 200px;
  height: 30px;
  border: 5px solid black;
  list-style: none;
}
.hp {
  background-color: red;
  height: 20px;
  width: 75%;
  transition: linear width 1s;
}
